<div class="page-header">
  <h1>
    Advanced Search Filter
  </h1>
</div>



<br>
<br>
<br>


<!-- program -->
<div class="form-group">
  <label for="program" class="control-label">
    <h6>
      Program
    </h6>
  </label>
  <select class="form-control" name="user[program]">
    <option>MMM</option>
    <option>2Y FT MBA</option>
    <option>1Y FT MBA</option>
    <option>JD-MBA</option>
    <option>PT MBA</option>
  </select>
</div>
<br>
<br>

<!-- gradyear -->
<div class="form-group">
  <label for="gradyear" class="control-label">
    <h6>
      Graduation Year
    </h6>
  </label>
  <select class="form-control" name="user[gradyear]">
    <option>2016</option>
    <option>2017</option>
    <option>2018</option>
    <option>2019</option>
  </select>
</div>
<br>
<br>

<!-- Research Field -->
<%= search_form_for @q do |f| %>
<div class="form-group">
  <label for="field_id" class="control-label">
    <h6>
      Research Field
    </h6>
  </label>
  <select class="form-control">
    <option></option>
    <option>Social Science</option>
    <option>Natural Science</option>
    <option>Formal Science</option>
    <option>Professions</option>
  </select>
</div>
<% end %>
<br>
<br>




<%= search_form_for @q do |f| %>
<div class="form-group">
  <h6>
    Research Field
  </h6>
  <!-- <%= f.label :title_cont, "Title containing" %> -->
  <%= f.select :field_cont, ['', "Social Science","Natural Science",'Formal Science', 'Professions'], :class => "form-control"  %>
</div>
<%= f.submit :class => "btn btn-primary btn-block" %>
<a href="/searchs" class="btn btn-default btn-block">Clear Filters 1</a>
<% end %>


<%= search_form_for @q do |f| %>
<div class="form-group">
  <h6>
    Field ID
  </h6>
  <!-- <%= f.label :title_cont, "Title containing" %> -->

  <%= f.select :field_cont, [' ', '1','2','3'], :class => "form-control"  %>
</div>
<%= f.submit :class => "btn btn-primary btn-block" %>
<a href="/searchs" class="btn btn-default btn-block">Clear Filters 1</a>
<% end %>



<!--
<div class="">
<p>
<button type="submit" class="btn btn-lg btn-block btn-primary">Submit 2</button>
<a href="/searchs" class="btn btn-default">Reset Filters</a>
<a href="/granttables" class="btn btn-warning">Cancel Search</a>
<br>
<br>
<br>
</p>
</div> -->
