<div class="page-header">
  <h1>
    Advanced Search Filter
  </h1>
</div>


<br>
<br>
<br>


<!-- ################################# -->
<%= search_form_for @q do |f| %>

<div class="form-group">
  <%= f.label :title_cont, "Title containing" %>
  <%= f.text_field :title_cont, :class => "form-control", :placeholder => "Enter a few words [Max characters: 1000]" %>
</div>
<br>
<br>

<div class="form-group">
  <%= f.label :research_need_eq, "Research Opportunity Needed" %>
  <%= f.text_field :research_need_eq, :class => "form-control", :placeholder => "Enter 1, 2 or 3. [1=Looking for funding($) , 2=I have funding ($) but I am looking for collaboration, 3=I am looking for collaboration]" %>
</div>
<br>
<br>

<div class="form-group">
  <%= f.label :grant_amt_lteq, "Grant Amount less than" %>
  <%= f.text_field :grant_amt_lteq, :class => "form-control " ,  :placeholder => "Enter a Grant amount less than or equal to Eg. 10,234" %>
</div>
<br>
<br>

<div class="form-group dropdown">
  <h6>
    Research Field
  </h6>
  <!-- <%= f.label :title_cont, "Title containing" %> -->
  <%= f.select :field_cont, ['', "Social Science","Natural Science",'Formal Science', 'Professions'], :class => "form-control form-horizontal"  %>
</div>
<br>
<br>

<%= f.submit :class => "btn btn-primary btn-block" %>

<a href="/searchs" class="btn btn-default btn-block">Clear Filters</a>
<% end %>

<!-- ################################# -->
