<!-- Validation failure messages -->
<% if @worldctrytable.errors.any? %>
  <% @worldctrytable.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Worldctrytable #<%= @worldctrytable.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_worldctrytable/<%= @worldctrytable.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for COR_id -->
      <div class="form-group">
        <label for="COR_id" class="control-label">
          Cor
        </label>

        <input type="text" id="COR_id" name="COR_id" placeholder="Cor" class="form-control" value="<%= @worldctrytable.COR_id %>">
      </div>

      <!-- Label and input for COR -->
      <div class="form-group">
        <label for="COR" class="control-label">
          Cor
        </label>

        <input type="text" id="COR" name="COR" placeholder="Cor" class="form-control" value="<%= @worldctrytable.COR %>">
      </div>

      <!-- Label and input for COR_foreignkey -->
      <div class="form-group">
        <label for="COR_foreignkey" class="control-label">
          Cor foreignkey
        </label>

        <input type="text" id="COR_foreignkey" name="COR_foreignkey" placeholder="Cor foreignkey" class="form-control" value="<%= @worldctrytable.COR_foreignkey %>">
      </div>

      <button class="btn btn-warning">
        Update Worldctrytable
      </button>
      or
      <a href="/worldctrytables/<%= @worldctrytable.id %>">Cancel</a>
    </form>
  </div>
</div>
