<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>Log In</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <style>
  /* Only necessary if you are using navbar-fixed-top */
  body {
    padding-top: 60px;
  }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>


<h2>Log in</h2>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-2 col-md-8">
        <h5><b>
          Mission:
        </b></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-2 col-md-8">
        <p>
          To bring together African professionals residing in Africa and the diaspora together, to foster research (projects, programs, interventions etc.) globally including research on the African continent.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-2 col-md-8"></div>
    </div>

    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-2 col-md-8">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</body>
</html>
